<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar>
      <ion-title>Login</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding-horizontal>
    <ion-grid no-padding fixed>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header no-padding padding-top padding-left padding-right>
              <h3>Enter your email and password to login:</h3>
              <p no-padding>All fields with <ion-icon name="medical" color="danger" size="small"></ion-icon> are required.
              </p>
            </ion-card-header>
            <ion-card-content padding-horizontal padding-bottom>
              <form [formGroup]="loginForm" (ngSubmit)="logForm()" (keyup.enter)="submitLog()">
                
                <ion-list>
                  <ion-item no-lines no-padding>
                    <ion-label floating>E-mail
                        <ion-icon small name="medical"  color="danger"item-left></ion-icon>
                    </ion-label>
                    <ion-input [(ngModel)]="user.email" type="text" formControlName="userName"></ion-input>
            
                  </ion-item>
                  
                  <ion-item no-lines no-padding
                    *ngIf="( loginForm.get('userName').hasError('required') || loginForm.get('userName').hasError('userName') ) && loginForm.get('userName').touched">
                    <div no-lines class="error"
                      *ngIf="loginForm.get('userName').hasError('required') && loginForm.get('userName').touched">
                      Email is required!
                    </div>
                    <div no-lines class="error"
                      *ngIf="loginForm.get('userName').hasError('userName') && loginForm.get('userName').touched">
                      Please enter valid email!
                    </div>
                  </ion-item>
                </ion-list>
                
                <ion-list>
                  <ion-item no-padding>
                    <ion-label floating>Password
                        <ion-icon small name="medical" color="danger" item-left></ion-icon>
                    </ion-label>
                    <ion-input [(ngModel)]="user.password" type="password" formControlName="passWord"></ion-input>
                  </ion-item>
                  
                  <ion-item no-lines no-padding
                    *ngIf="( loginForm.get('passWord').hasError('required') || loginForm.get('passWord').hasError('pattern') ) && loginForm.get('passWord').touched">
                    <div no-lines class="error"
                      *ngIf="loginForm.get('passWord').hasError('required') && loginForm.get('passWord').touched">
                      Password is required!
                    </div>
                  </ion-item>
                </ion-list>
                
                <ion-list class="last">
                  <ion-item no-lines no-padding>
                    <p>Need to register? <a ion-text color="primary" (click)="doRegister()">Click here!!</a></p>
                  </ion-item>
                </ion-list>
                
                <div class="error" ng-if="error">{{ error.message }}</div>
                
              </form>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center padding-horizontal>
        <ion-col>
          <button ion-button full (click)="submitLog()" type="submit" [disabled]="!loginForm.valid" >Login</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
