page-dashboard {

  .column {
    width: 36%;
    padding: 4% 2%;
  }
// header where user name is displayed
  .user {
    width: 36%;
    padding-top: 30px;
    padding-right: 8px;
    padding-bottom: 10px;
    padding-left: 20px;
    text-align: center;
  }

  .noProfile {
    padding: 20px
  }

  .button-inner {
    vertical-align: middle;
  }

}
