


// .cook{

//     margin-bottom: 20px;
// }


// .buttons{
//     margin-top: 18px;
// }


page-input {
    .card-md .item-md.item-block .item-inner,
    .card-ios .item-ios.item-block .item-inner {
    box-shadow: inset 0 -1px 0 0 #dedede;
    border-bottom-color: #dedede !important;
    // background-color: #A3BBAD;
}
    .card-md .col .item-md.item-block:last-child .item-inner,
    .card-ios .col .item-ios.item-block:last-child .item-inner {
    box-shadow: inset 0 -1px 0 0 #dedede;
    border-bottom-color: #dedede !important;
    // background-color: #A3BBAD;
}

  .error {
    font-weight: bold;
    color: map-get($colors, danger);
    text-align: center;
    font-size: 1em;
  }

  ion-input.hotfix{
    display: none;
  }

}
